@import url('null.css');

.wrapper {
	min-height: 100%;
	padding: 100px 15px 20px;
	display: flex;
	justify-content: center;
}

@media (min-width:768px) {
	.wrapper {
		padding: 20px 15px 20px;
		align-items: center;
	}
}

.stopwatch {
	flex: 0 1 500px;
	font-family: 'Courier New', Courier, monospace;
}

.stopwatch__timer {
	font-size: calc(50px + 50 * ((100vw - 320px) / 1600));
	margin-bottom: 30px;
	text-align: center;
	padding-bottom: 20px;
}

.stopwatch__btns {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 30px;
}

.stopwatch__btns button {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	max-width: 140px;
	height: 50px;
	background-color: #000000db;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	transition: all linear 0.1s;
	border-radius: 5px;
}

@media (any-hover:hover) {
	.stopwatch__start:hover {
		color: #54d454;
		background-color: #d7ffd7;
	}

	.stopwatch__stop:hover {
		color: #d7b81f;
		background-color: #fcf2bc;
	}

	.stopwatch__reset:hover {
		color: #ff5555;
		background-color: #ffb4b4c3;
	}

	.stopwatch__circle:hover {
		color: #7d7d7d;
		background-color: #dbdbdb;
	}
}

.stopwatch__data {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	font-size: 30px;
}

.stopwatch__data:not(:last-child) {
	padding-bottom: 20px;
}

@media (max-width: 425px) {
	.stopwatch__data {
		font-size: 24px;
	}
}

@media (min-width: 768px) {
	.stopwatch__results {
		padding-right: 10px;
		height: 130px;
		overflow-y: auto;
	}
}

.stopwatch__results::-webkit-scrollbar {
	width: 4px;
}

.stopwatch__results::-webkit-scrollbar-track {
	background: #fff;
}

.stopwatch__results::-webkit-scrollbar-thumb {
	background-color: #a7a7a7;
	border-radius: 2px;
}